<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    
    <hr>

    <% for(var i = 0; i < postarrejs.length; i++){ %>
      <div class="postarea">
        <p class="secret-text"><%= postarrejs[i] %></p>
        
        
        <form action="/sendcomment" method="post">           
          <p class="commenticon">
            <input class="input__field" type="text" placeholder=" " name="comment" />              
            <button class="btn commentbutton" type="submit"> <i class="far fa-comment"></i> </button>              
            <i id="commentArrowid<%=i%>" onclick="toggleComment('<%=i%>')" style="" class="fas fa-arrow-down okbutton"></i>
          </p>            
          <input type="hidden" value="<%= postarrejs[i] %>" name="secretWhichHaveANewComment">           
          <input type="hidden" value="<%= postSecretObjects[i] %>" name="secretid">
        </form>
    
        <div id="comments<%=i%>" class="comments hidden">
          <% for(var j = 0; j < comments.length; j++){ %>
            <% if(postSecretObjects[i] == comments[j].secretid){ %>
              <div class="commentarea">
                <p style="margin-bottom: 5px;"> <%= comments[j].email %> </p>
                <p style="margin-bottom: 5px;"> <%= comments[j].content %> </p>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
    <% } %>

    <!--
    <% for(var i = 0; i < postSecretObjects.length; i++){ %>
      <div class="secret-text">
        <p class="secret-text"><%= postarrejs[i] %></p>
  
        <form action="/sendcomment" method="post">

          <p class="commenticon"><input class="input__field" type="text" placeholder=" " name="comment" />
             <button class="btn commentbutton" type="submit"> <i  class="far fa-comment " ></i> </button>
             <i id="commentArrowid<%=i%>"  onclick=" <%"a()"%>" style="" class="fas fa-arrow-down okbutton"></i>  </p>

          <input type="hidden" value="<%= postarrejs[i] %>" name="secretWhichHaveANewComment">
          <input type="hidden" value="<%= postSecretObjects[i] %>" name="secretid">
        </form>
       
        <% for(var j = 0; j < comments.length; j++){ %>
          
          <% if(postSecretObjects[i] == comments[j].secretid){ %>
            <div class="commentarea">
                <p style="margin-bottom: 5px;">  <%= comments[j].email  %> </p>
                <p style="margin-bottom: 5px;">  <%= comments[j].content %> </p>
            </div>
          <% } %>
        <% } %>
   
      </div>
    <% }  %> -->
    
    <% postarrejs.forEach(function(post_gelen){ %>

    <% }) %> 
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<script> 

function toggleComment(index) {
  console.log("heyy");
  const commentsSection = document.querySelector(`#comments${index}`);
  const arrowIcon = document.querySelector(`#commentArrowid${index}`);

  commentsSection.classList.toggle('hidden');
  arrowIcon.classList.toggle('fa-arrow-down');
  arrowIcon.classList.toggle('fa-arrow-up');
  
}


  var kontrol = false;
  for(var i = 0;  i < document.querySelectorAll(".okbutton").length; i++){
   
    document.querySelectorAll(".okbutton")[i].addEventListener("click" , function(){
      console.log();
      //var a = this.innerHTML;
       // document.getElementsByClassName('okbutton')[a].classList.add("okbuttonClicked");
       
        if(document.getElementById(this.id).classList.contains("okbuttonClicked")){
          document.getElementById(this.id).classList.remove("okbuttonClicked");
          kontrol = true;
        }
        else {
          document.getElementById(this.id).classList.add("okbuttonClicked");
        }
    })
  }  

function a (){
    console.log("hey");
}



</script>
<%- include('partials/footer') %>
